/* imports all needed fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Playball&family=Source+Code+Pro&display=swap");

/*
    font-family: 'Oxygen Mono', monospace;
    font-family: 'Playball', cursive;
    font-family: 'Source Code Pro', monospace;
*/

/* removes the default margin and padding for every item so that everything can styled without having to fight document defaults. */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* home section styles and responsiveness */
#home {
  background-image: url(./assets/home/dieter_rams_desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* navbar styles */
.nav-item {
  display: inline;
  padding: 0 2vw;
}

/* link styles */
.nav-link {
  text-decoration: none;
  color: black;
}
/* adds a hover-state of an electric blue color-change. */
.nav-link:hover {
  /* electric blue */
  color: #7df9ff;
}

/* header styles */
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 35%;
  left: -32%;
}
#title {
  margin: 0 auto;
}

/* timeline page styles */
#timeline {
  height: 175vh;
}

#timeline-items {
  width: 99vw;
  height: 160vh;
  align-items: center;
  justify-content: space-between;
}

.timeline-item {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.timeline-date-container {
  padding: 0 0.5% 0 0.5%;
  height: 100%;
  font-size: 2em;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-text {
  margin-left: 2.5%;
}

.double {
  display: flex;
  flex-direction: column;
}

/* principles page styles */

#principles-cards {
  width: 80%;
  display: grid;
  grid-template-rows: repeat(2, 49%);
  grid-template-columns: 18% 18% 18% 18% 18%;
  gap: 1em;
}

.principle-card {
  height: 20vw;
}

.card-content {
  padding: 0.5vw;
}

.good-design {
  font-family: "Playball", cursive;
}

/* image gallery styles */

#main-image {
  width: 640px;
  height: 480px;
}

#image-list-container {
  width: 83%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.even-spacing {
  justify-content: space-evenly;
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeIn var(--fade-time) ease-out 0 forwards;
}

.thumbnail {
  width: 256px;
  height: 192px;
}

/* styles for the further reading page */

#articles-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
}

.article-flex {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.box-sizing {
  width: 63%;
}

.section-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* styles for the entire site */

.page {
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  margin: 2.5% 0% 2.5% 0%;
}

.main-font {
  font-family: "Oxygen", monospace;
}
.body-font {
  font-family: "Source Code Pro", monospace;
}

.primary-color {
  background: #7df9ff;
}

.border-black {
  border: 3px solid black;
}

.border-blue {
  border: 3px solid #7df9ff;
}

.link {
  text-decoration: none;
  color: black;
}

@media (max-width: 812px) {
  #home {
    background-image: url(./assets/home/dieter_rams_mobile.png);
  }

  #nav {
    text-align: center;
  }

  .nav-item {
    padding: 0 0.5vw;
  }

  #header {
    top: 10%;
    left: 0%;
  }

  /* provides spacing between timeline items */
  #timeline {
    height: 525vh;
  }

  #timeline-items {
    height: 500vh;
  }

  .timeline-date-container {
    padding: 0% 2% 0% 2%;
  }

  /* creates timeline boxes by setting height and border-bottom for every item but the first */
  #timeline-items .timeline-item:not(:first-child) > .timeline-date-container {
    height: 42px;
    border-bottom: 3px solid black;
  }

  #principles {
    height: 525vh;
  }

  #principles-title {
    font-size: 0.85em;
  }

  #principles-cards {
    height: 500vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .principle-card {
    height: 50vh;
  }

  .card-content {
    padding: 5vw;
  }

  #designs {
    height: 100vh;
  }

  #main-image {
    width: 320px;
    height: 240px;
  }

  #image-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2vh;
  }

  .thumbnail {
    width: 128px;
    height: 96px;
  }

  #articles-list {
    height: 80vh;
  }

  #articles-list article img {
    width: 20vw;
    height: 10vh;
  }
  .article-flex {
    width: 80vw;
  }
  section.section-flex > h2.main-font {
    font-size: 16px;
  }
  section.section-flex > h3.body-font {
    font-size: 14px;
  }
}
